@import '../node_modules/antd/dist/antd.css';

.logo {
  height: 32px;
  background: rgba(0, 0, 0, 0.2);
  margin: 16px;
}
aside.ant-layout-sider {
    position: fixed;
    height: 100%;
    box-shadow: 1px 0 3px rgba(0,0,0,0.05);
    overflow: auto;
}

aside.ant-layout-sider + section.ant-layout {
    margin-left: 200px;
    transition: margin-left .2s ease;
}

aside.ant-layout-sider.ant-layout-sider-collapsed + section.ant-layout {
    margin-left: 80px;
}
header.ant-layout-header {
    padding: 0 1em;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
}
header.ant-layout-header {
    padding: 0 1em;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
}

span.footer-quote {
    font-size: 11px;
}

a.footer-quote-author {
    font-size: 11px;
    display: block;
    opacity: 0;
    transition: opacity .6s ease;
    cursor: pointer;
}

.footer-quote-container:hover .footer-quote-author {
    opacity: 1;
}
a.footer-quote-author:before {content: 'by: ';}

.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
  overflow: initial;
}

.ant-menu-inline {
    padding-bottom: 100px;
}

.ant-menu-vertical.ant-menu-sub {
    max-height: 90vh;
    overflow: auto;
}